.hero{
    height:170vh;
    flex-direction: column;
}

.introduction{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
    color: white;
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;
}
.introduction h1{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #FFF0BA;
    text-align: left;
    margin-left:6rem;
}
.introduction p{
    margin-bottom: 6rem;
    margin-left: 6rem;
    margin-right: 6rem;
    text-align: left;
}

.switchButton{
    flex-direction: column;
    height: 30%;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    margin-top: 6rem;
    margin-left:40%;
    gap: 1rem;
}

.toggle-btn{
    background-color: #b7b9ba;
    border: 1px solid #aaa;
    border-radius: 99px;
    width: 50px;
    height: 28px;
    transition: background-color 0.1s ease, border-color 0.2s ease;
    cursor: pointer;
    box-shadow: 1px 1px 10px rgba(0,0,0,748);
    position: relative;
}

.toggle-btn .thumb{
    height:20px;
    width: 20px;
    background-color: #9F87A2;
    border-radius: 99px;
    transform: translateX(0);
    transition: left 0.15s ease;
    position: absolute;
    left: 3px;
    top: 50%;
    transform: translateY(-50%);
}

.toggle-btn.toggled{
    background: #0B0D3F;
}

.toggle-btn:hover {
    border-color: #6f6f6f;
}

.toggle-btn.toggled .thumb{
    left: calc(50px - 23px);
}

.switch-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.switch-container p{
    color: #FFF0BA;
    font-size: 1.5rem;
    font-weight: 700;
}

.searchBox{
    flex-direction: column;
}